In [2]:
1000*235123

235123000

In [22]:
print("correct intend")
print("incorrect intend")

correct intend
incorrect intend

In [29]:
x=3
y=2
print(x+2)

5

In [31]:
x = 3
y =2 
print (x+y)

5

### x = "3"
y = "2"
print (x + y)
print (int(x) + int(y))

In [36]:
x= 300
x**3

27000000

원의 반지름 4.0

In [38]:
print('원의 반지름', 4.0)
print('원의 면적', 3.14 * 4.0 * 4.0)
print('원의 둘레', 2.0 * 3.14 * 4.0)

원의 면적 50.24
원의 둘레 25.12

In [39]:
radius = 4.0
print ('원의 반지름', radius)
print('원의 면적', 3.14 * radius * radius)

원의 반지름 4.0
원의 면적 50.24

In [41]:
x=10
print("둘레", + 10*2*3.14)

둘레 62.800000000000004

In [50]:
name = '홍길동'
age = 27
print('"안녕!"' '나는', name, ' 이야. 나는 나이가', age, '살이야.')

"안녕!"나는 홍길동  이야. 나는 나이가 27 살이야.

In [51]:
width = 20
height = 40
width = 30
area = width * height
print('사각형의 면적', area)

사각형의 면적 1200

In [52]:
5 % 2

1

NameError: name 'math' is not defined

In [54]:
2**(0.5)

1.4142135623730951

In [55]:
3**(1/3)

1.4422495703074083

In [56]:
pow(3,2)

9

In [1]:
int num =100
float num =100.0

type(int num)

SyntaxError: invalid syntax (<ipython-input-1-43d117fd4f41>, line 1)

In [6]:
intnum = 100
floatnum = 100.0
strdata = "하이"
type(intnum)

int

In [7]:
intNum = 100
type(intNum)
strData = "안녕"
print(int)

<class 'int'>

In [8]:
intnum = 100
num = str(intnum)
floatnum = 100.0
strdata = "하이"

In [9]:
intnum=100
num = str(intnum)
type(num)

str

In [11]:
hello = "여러분" 안녕하세요!
print(hello)

여러분 안녕하세요!

In [12]:
hello= '"여러분" 안녕하세요 '
print(hello)

"여러분" 안녕하세요

In [13]:
hello_1 = ''' 안녕하세요 반갑습니다.
여기는 스마트 팩토리 수업반 입니다.'''
print(hello_1)

 안녕하세요 반갑습니다.
여기는 스마트 팩토리 수업반 입니다.

In [14]:
hello_1 = """ 안녕하세요 반갑습니다.
여기는 스마트 팩토리 수업반 입니다."""
print(hello_1)

 안녕하세요 반갑습니다.
여기는 스마트 팩토리 수업반 입니다.

In [16]:
hello_1 = """"안녕하세요"""
print(hello_1)

"안녕하세요

In [22]:
hello_1 = """안녕하세요"""
print(hello_1)

안녕하세요

In [24]:
hello_2 = "안녕 \n 하세요"
print(hello_2)

안녕
 하세요

In [ ]:
data = ''
print(data)

In [25]:
print(2 == 3)

False

In [28]:
print (2==3 or 4 == 2*2 )

True

In [32]:
print (2==3 or 4 == 2*2 and 2<3 )

True

In [ ]:
#! = 아니다

In [36]:
print(2!=3)

True

In [43]:
#복소수 연산

number_1 = 2+3j
number_2 = 3+6j
print(number_1.imag)
print(number_1.real)

print (number_1 * number_2)
print (number_1 - number_2)
print (number_1 / number_2)
print (number_1 + number_2)

3.0
2.0
(-12+21j)
(-1-3j)
(0.5333333333333333-0.06666666666666667j)

In [49]:
#bool 테스트    ()
bool(-1)

True

In [48]:
bool(0)

False

In [52]:
bool(None)

False

In [53]:
bool('')

False

In [58]:
str = 'hello'
bool(str==None)

False

In [59]:
str = 'hello'
bool(str)

True

In [ ]:
# asd

In [60]:
'''
이것은 지금 파이썬 데이터 코딩
'''

print('맞나요?')

맞나요?

In [61]:
input_data = input("당신이 사는 곳은>")
print(input_data)

당신이 사는 곳은>경기도
경기도

In [64]:
input_data = input("이름 : ")

print(input_data);print("님 반갑습니다.")

이름 : 김현수
김현수
님 반갑습니다.

In [70]:
input_name = input("이름 : ")
print(input_name, '님 반갑습니다.')

이름 : 김
김 님 반갑습니다.

In [72]:
num = 100;
print('num =', num)
num = num + 100
print('num =', num)
num = num + 100
print('num =', num)
num = num + 100

num = 100
num = 200
num = 300

# if문

In [75]:
철수 = 20
if 철수 < 20:
    print("청소년 할인 됩니다.")
print("돈내세요~")

돈내세요~

In [ ]:
step = 1500
if step > 1000
    print("목표달성")

In [81]:
input_walk_count = input("걸음수 :")

if int (input_walk_count) >= 1000:
    print('목표달성')

걸음수 :500000
목표달성

In [82]:
input_name = input("이름 : ")
print(input_name, '님 반갑습니다.')

이름 :
 님 반갑습니다.

In [ ]:
date_time=9

if(date_time < 12 ):
    print("오전입니다.")
    
else :
    print("오후입니다.")

In [90]:
date_time=input("지금시각은? ")
now_date = int(date_time)
if(now_date < 12 ):
    print("오전입니다.")
    
else :
    print("오후입니다.")

지금시각은? 3
오전입니다.

In [ ]:
man_power = input("파워")

man_power

### while

In [92]:
# while True:
    print("10분간 휴식")

NameError: name 'Flase' is not defined

# FOR문

In [95]:
arr = range(6)

print(arr)

range(0, 6)

In [100]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [102]:

arr = ['영희', '철수', '만수', '똘이']
for i in arr:
    print(i)

영희
철수
만수
똘이

In [104]:
for _ in range(10):
    print("hello world")

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

#range

In [107]:
#1~10 까지 2씩 증가

arr = range(1, 10, 4)
print(len(arr))
print(type(arr))
for i in arr:
    print(i)

3
<class 'range'>
1
5
9

In [112]:
arr = range(1, 100)
i = 
for i in arr:
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [117]:
sum =0
for i in range(1, 101):
    sum = sum+i
print('sum', sum)

sum 5050

In [ ]:
arr = range(1, 100)
i = 
for i in arr:
    print(i)

In [120]:
for i in range(2, 20, 2):
    print(i)

2
4
6
8
10
12
14
16
18

In [123]:
multi = 2
result = 1
for i in range(1,10):
    result = multi*i
    print(multi, '곱하기', i, '는', result)

2 곱하기 1 는 2
2 곱하기 2 는 4
2 곱하기 3 는 6
2 곱하기 4 는 8
2 곱하기 5 는 10
2 곱하기 6 는 12
2 곱하기 7 는 14
2 곱하기 8 는 16
2 곱하기 9 는 18

In [126]:
n = int(input('input your number'))
fact=1
for i in range (1, n+1):
    fact = fact *i
print(fact)

input your number10
3628800

In [ ]:
n = int(input('합계를 구할 수 를 입력하세요:'))
s=0
i=1
while i <= n:
    s =s+i
    i +=1
print('1부터 {}까지의 합은 {}', format(n,s))

In [130]:

n= -1
while n <=0:
    n = int(input("입력하세요"))
    print("양수를 입력했어요")
    
s =0
for i in range(1, n+1):
    s = s+i
print(s)

입력하세요-10
음수를 입력했어요
입력하세요10
음수를 입력했어요
55